In [2]:
import pandas as pd

### Load data and get info about data

In [4]:
data = pd.read_csv("20230926_oemof_example_data.csv")
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262800 entries, 0 to 262799
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         52561 non-null   object
 1   P_wp         52561 non-null   float64
 2   P_eaf        52561 non-null   float64
 3   COE_agora    52561 non-null   float64
 4   f_emiss_spc  262656 non-null  float64
dtypes: float64(4), object(1)
memory usage: 10.0+ MB

C:\Users\ann82611\AppData\Local\Temp\ipykernel_16044\2540093008.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("20230926_oemof_example_data.csv")

               P_wp         P_eaf     COE_agora    f_emiss_spc
count  52561.000000  52561.000000  52561.000000  262656.000000
mean       0.488865      0.593541     37.668461     483.839664
std        0.344325      0.082310     15.522593     110.569443
min        0.000000      0.000000    -90.000000     146.397622
25%        0.133524      0.555556     31.000000     410.791945
50%        0.492863      0.555556     38.000000     499.005738
75%        0.840081      0.555556     46.000000     570.315116
max        0.955962      0.822222    121.000000     715.227163

### Turn 10 minute rythm in hourly rythm

In [10]:
df = pd.DataFrame(data)

#convert 'Date'- Spalte from object to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

#set 'Date' culumn as index (to scan data and later set to hourly)
df.set_index('Date', inplace=True)

#set to hourly and calculate mean values
df_hourly = df.resample('1H').mean()

df_hourly = df_hourly.reset_index() #Index zur√ºck in spalte verschieben

df_hourly.info()
df_hourly.describe()
df_hourly.head()
print(df_hourly)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8761 entries, 0 to 8760
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         8761 non-null   datetime64[ns]
 1   P_wp         8761 non-null   float64
 2   P_eaf        8761 non-null   float64
 3   COE_agora    8761 non-null   float64
 4   f_emiss_spc  8761 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 342.4 KB
                    Date      P_wp     P_eaf  COE_agora  f_emiss_spc
0    2019-01-01 00:00:00  0.849913  0.216667       28.0   555.184683
1    2019-01-01 01:00:00  0.867294  0.577778       10.0   542.127155
2    2019-01-01 02:00:00  0.875198  0.582407       -4.0   535.560122
3    2019-01-01 03:00:00  0.914339  0.613889      -10.0   529.404536
4    2019-01-01 04:00:00  0.937844  0.577778       -7.0   528.096164
...                  ...       ...       ...        ...          ...
8756 2019-12-31 20:00:00  0.937926  0.624074       42.0   570.301611
8757 2019-12-31 21:00:00  0.945537  0.576852       40.0   573.554166
8758 2019-12-31 22:00:00  0.951546  0.591667       39.0   564.762296
8759 2019-12-31 23:00:00  0.946776  0.545370       37.0   560.042099
8760 2020-01-01 00:00:00  0.000000  0.000000        0.0   532.762142

[8761 rows x 5 columns]

#### Export as csv to data file

In [11]:
df_hourly.to_csv('wind_power.csv')

## PV data resemling

In [4]:
pv_data = pd.read_csv('pv_data.csv')

pv_data.describe()
#pv_data.info()

        Wind Power
count  8760.000000
mean      0.263766
std       0.279898
min       0.000000
25%       0.028892
50%       0.160324
75%       0.423341
max       1.000000

: